@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.main-content {
    display: flex;
    flex: 1;
    background-color: #fef8f8;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
}

.side-left {
    flex: 0.2;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    flex: 0.55;
}

.side-right {
    flex: 0.25;
}

.logo-container {
    display: flex;
    flex: 0.2 0 0;
    align-items: center;
}

.logo-container img {
    width: 180px;
}

.info-container {
    flex: 0.8 0 0;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.title > p {
    font-size: 4.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 15px;
    color: #42393a;
}

.title > p:first-child {
    font-weight: 300;
    color: #c49c9a;
}

.intro {
    color: #c49c9a;
    line-height: 2;
    font-size: 1.1rem;
    padding: 25px 0;
}

.form-input {
    position: relative;
}

.form-control {
    position: relative;
}

.form-input > input {
    width: 100%;
    padding: 20px 30px;
    display: inline-block;
    font-family: inherit;
    font-size: 0.9rem;
    color: #42393a;
    background-color: transparent;
    background-color: transparent;
    border: 1px solid #d9c9cc;
    outline: none;
    border-radius: 30px;
}
.form-input > input::placeholder {
    color: #d9c9cc;
}

.form-control.error .form-input input {
    border: 2px solid #e67273;
}

.form-input .error-warning-icon {
    width: 25px;
    height: 25px;
    display: none;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    margin-right: 5px;
}

.form-control.error .error-warning-icon {
    display: block;
}

.form-input button {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    padding: 5px 5px;
    font-family: inherit;
    font-size: 2rem;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0 10px 30px 2px #e9bfc0 ;
    cursor: pointer;
}

.form-input button:active {
    background-image: linear-gradient(135deg, #fadadb, #fadadb);
    box-shadow: 0 10px 15px 2px #e9bfc0 ;
}

.form-control .error-message {
    color: #e67273;
    position: absolute;
    display: none;
    font-family: inherit;
    font-size: 0.8rem;
    padding: 10px 30px;
}

.form-control.error .error-message {
    display: block;
}

.cover-mobile {
    display: none;
}

.cover-desktop {
    height: 100%;
    flex: 0;
}

.cover-desktop img {
    height: 100%;
}

@media screen and (max-width: 1300px) {
    .title > p {
        font-size: 3.5rem;
    }
 
    .intro {
        color: #c49c9a;
        line-height: 2;
        font-size: 1rem;
        padding: 25px 0;
    }

    .form-input > input {
        padding: 17.5px 30px;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1100px) {
    .side-left {
        flex: 0.25;
    }

    .side-right {
        flex: 0.25;
    }

    .cover-desktop {
        display: none;
    }

}

@media screen and (max-width: 460px) {
    .side-left {
        flex: 0;
    }

    .side-right {
        flex: 0;
    }

    .content {
        flex: 1;
    }

    .logo-container {
        display: flex;
        flex: 0;
        align-items: center;
        padding: 25px;
    }
    
    .logo-container img {
        width: 110px;
    }

    .info-container {
        padding: 0;
        margin: 45px 25px;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .title > p {
        font-size: 2.5rem;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 15px;
        color: #42393a;
    }

    .intro {
        color: #c49c9a;
        line-height: 1.5;
        font-size: 0.8rem;
        text-align: center;
        padding: 20px 20px;
        margin: 0;
    }

    .form-input > input {
        width: 70vw;
        padding: 15px 30px;
        font-size: 0.7rem;
    }
    
    .form-input > .error-warning-icon {
        width: 15px;
        height: 15px;
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20%;
    }

    .form-input > button {
        padding: 5px 5px;
    }

    .form-control .error-message {
        width: 100%;
        font-size: 0.7rem;
        padding: 10px 30px;
        text-align: center;
    }

    .cover-mobile {
        display: block;
        width: 100vw;
    }

    .cover-mobile img {
        width: 100%;
    }
}